<h1>Schedule#index</h1>
<p>Find me in app/views/schedule/index.html.erb</p>


=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
:...skipping...
=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
:...skipping...
=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
:...skipping...
=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
:...skipping...
=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
:...skipping...
=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
:...skipping...
=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
:...skipping...
=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
:...skipping...
=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
:...skipping...
=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
:...skipping...
=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
:...skipping...
=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
:...skipping...
=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
:...skipping...
=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
:...skipping...
=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
:...skipping...
=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
:...skipping...
=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
:...skipping...
=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
              attributes = [
:































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
              attributes = [
:






























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
:






























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
:






























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
:






























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
:






























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
:































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
              attributes = [
:...skipping...
=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
              attributes = [
                #(Attr:0x3fd9d56d551c { name = "rel", value = "canonical" }),
                #(Attr:0x3fd9d56d54e0 {
:...skipping...
=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
              attributes = [
                #(Attr:0x3fd9d56d551c { name = "rel", value = "canonical" }),
                #(Attr:0x3fd9d56d54e0 {
                  name = "href",
:


































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
              attributes = [
                #(Attr:0x3fd9d56d551c { name = "rel", value = "canonical" }),
                #(Attr:0x3fd9d56d54e0 {
                  name = "href",
:


































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
              attributes = [
                #(Attr:0x3fd9d56d551c { name = "rel", value = "canonical" }),
                #(Attr:0x3fd9d56d54e0 {
                  name = "href",
:
































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
              attributes = [
                #(Attr:0x3fd9d56d551c { name = "rel", value = "canonical" }),
:
































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
              attributes = [
                #(Attr:0x3fd9d56d551c { name = "rel", value = "canonical" }),
:
































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
              attributes = [
                #(Attr:0x3fd9d56d551c { name = "rel", value = "canonical" }),
:
































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
              attributes = [
                #(Attr:0x3fd9d56d551c { name = "rel", value = "canonical" }),
:
































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
:
































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
:
































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
:
































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
:
































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
:
































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
:
































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
:
































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
:
































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
              attributes = [
                #(Attr:0x3fd9d56d551c { name = "rel", value = "canonical" }),
:
































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
              attributes = [
                #(Attr:0x3fd9d56d551c { name = "rel", value = "canonical" }),
:

































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
              attributes = [
                #(Attr:0x3fd9d56d551c { name = "rel", value = "canonical" }),
                #(Attr:0x3fd9d56d54e0 {
:


































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
              attributes = [
                #(Attr:0x3fd9d56d551c { name = "rel", value = "canonical" }),
                #(Attr:0x3fd9d56d54e0 {
                  name = "href",
:


































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
              attributes = [
                #(Attr:0x3fd9d56d551c { name = "rel", value = "canonical" }),
                #(Attr:0x3fd9d56d54e0 {
                  name = "href",
:

































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
              attributes = [
                #(Attr:0x3fd9d56d551c { name = "rel", value = "canonical" }),
                #(Attr:0x3fd9d56d54e0 {
:































=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
              attributes = [
:






























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
              name = "link",
:





























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
:




























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
:



























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
:


























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
:


























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
:


























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
:



























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
:




























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
:





























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56d8820 {
:







=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
:








=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class",:









=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
:












=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
:
















=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
:



















=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
:




















=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
:




















=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
:





















=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
:





















=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
:






















=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
:























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
:
























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
:

























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
:



























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
:




























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
:




























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
:




























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
:



























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
:



























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
:



























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
:



























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
:



























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
:



























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
:



























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
:



























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
:




























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
:




























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
:




























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
:




























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
:




























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),
:




























=> #(Document:0x3fd9d46ab394 {
  name = "document",
  children = [
    #(DTD:0x3fd9d51f257c { name = "html" }),
    #(Element:0x3fd9d5733e14 {
      name = "html",
      attributes = [ #(Attr:0x3fd9d5732c6c { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd9d571b940 {
          name = "head",
          children = [
            #(Text "\n"),
            #(Element:0x3fd9d570fb2c {
              name = "title",
              children = [ #(Text "new york pets - craigslist")]
              }),
            #(Text "\n"),
            #(Element:0x3fd9d56f1398 {
              name = "meta",
              attributes = [
                #(Attr:0x3fd9d56f5e20 { name = "name", value = "description" }),
                #(Attr:0x3fd9d56f5e0c {
                  name = "content",
                  value = "new york pets  - craigslist"
                  })]
              }),
            #(Text "\n"),

